<div class="main-container">
<section ng-app="app" class="project">

	<section ng-controller="projectCtrl" ng-init="projectId='<%= project.id %>'" ui-view class="project">


			<div class="project-left" ui-view="left">
			        <i>Some content will load here!</i>
			</div>

			<div class="project-center" ui-view="center">
				
				<h2>{{name}} </h2>

				<a ui-sref="edit.addEntity"> add Entity </a>
				<a ui-sref="prova"> prova </a>

				<div system-diagram> </div system-diagram>

				<!-- <ng-include src="'/linker/js/project/partials/snapSystemDiagram.ejs'"></ng-include >
 -->
			</div>

			<div class="project-right" ui-view="right">
		
			</div>

			<div class="overlay" ui-view="editor" ng-show="selectedCOData">
		
			</div>
    

	</section>


</section>
</div>