doctype html
html(ng-app="app")
  head
    title= title
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel="stylesheet", href="/linker/styles/bs-custom.css")
    link(rel="stylesheet", href="/linker/styles/bs-variables.css")
    link(rel="stylesheet", href="/linker/styles/custom.css")
    link(rel="stylesheet", href="/linker/styles/fa-variables.css")
    // STYLES END
    block styles

  body
    block body

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-danger.no-margin-bot
          div: strong Error:
          div {{error.message}}

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/lib/jquery.js")
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/linker/js/lib/socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/ace-ui.js")
    script(type="text/javascript", src="/linker/js/ace.js")
    script(type="text/javascript", src="/linker/js/angular-animate.js")
    script(type="text/javascript", src="/linker/js/angular-resource.js")
    script(type="text/javascript", src="/linker/js/angular-route.js")
    script(type="text/javascript", src="/linker/js/angular-ui-router.js")
    script(type="text/javascript", src="/linker/js/app/app.js")
    script(type="text/javascript", src="/linker/js/cObject/cOAction/cOAction.js")
    script(type="text/javascript", src="/linker/js/cObject/cOData/cOdata.js")
    script(type="text/javascript", src="/linker/js/cObject/cOTrigger/cOTrigger.js")
    script(type="text/javascript", src="/linker/js/cObject/cObject.js")
    script(type="text/javascript", src="/linker/js/connection/connection.js")
    script(type="text/javascript", src="/linker/js/lib/bootstrap.js")
    script(type="text/javascript", src="/linker/js/lib/customValidate.js")
    script(type="text/javascript", src="/linker/js/lib/jquery.svg.js")
    script(type="text/javascript", src="/linker/js/lib/jquery.svgdom.js")
    script(type="text/javascript", src="/linker/js/lib/jquery.validate.min.js")
    script(type="text/javascript", src="/linker/js/lib/sails.io.js")
    script(type="text/javascript", src="/linker/js/lib/underscore.js")
    script(type="text/javascript", src="/linker/js/mode-c_cpp.js")
    script(type="text/javascript", src="/linker/js/project/project.js")
    script(type="text/javascript", src="/linker/js/snap.svg-min.js")
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/spinnaker.js")
    script(type="text/javascript", src="/linker/js/theme-monokai.js")
    script(type="text/javascript", src="/linker/js/wService/wSAction/wSaction.js")
    script(type="text/javascript", src="/linker/js/wService/wSData/wSdata.js")
    script(type="text/javascript", src="/linker/js/wService/wSTrigger/wSTrigger.js")
    script(type="text/javascript", src="/linker/js/wService/wService.js")
    // SCRIPTS END
