

	<div id="addEntity">
		<div class="Sidebar header">
			ADD NEW
		</div>

		<div class="entityType" ng-controller="cObjectCtrl">
			<p>
				<a ui-sref="edit.addcObject" ng-click="create()">
					Connected Object
				</a>
			</p>
		</div>
		<div class="entityType">
			<p>
				<a>
					Web Service
				</a>
			</p>
		</div>	
		<div class="entityType">
			<p>
				<a>
					Data analyst
				</a>
			</p>
		</div>	
		<div class="entityType">
			<p>
				<a>
					Device
				</a>
			</p>
		</div>
		
	</div>
