
<svg version="1.1"
 	xmlns = 'http://www.w3.org/2000/svg' 
 	width="100%" 
 	height="700px" 
 	class="systemDiagram"
 	id="systemDiagram"	
	ng-mousedown="mouseDown($event)"
	ng-mouseup="mouseUp($event)"
	ng-mousemove="mouseMove($event)"
 	>


 	<defs>
	    <marker id="markerCircle" 
		    markerWidth="3" 
		    markerHeight="3" 
		    refx="5" 
		    refy="5">
		    <circle cx="5" cy="5" r="3" style="stroke: none; fill:#000000;"/>
    	</marker> 	    
	</defs>


			<!-- ##################################################-->
			<!-- ##################################################-->
			<!-- ######                                    ########-->
			<!-- ######     Draw the connections           ########-->
			<!-- ######                                    ########-->
			<!-- ##################################################-->
			<!-- ##################################################-->
			

			<g ng-repeat="connection in connections"  
				transform="translate(10,10)"
				ng-controller="connectionCtrl" 
				ng-init="setConnData(connection)"
			>

				<path 	ng-attr-d="M{{connection.x1}},{{connection.y1}} 
						C{{connection.x1+50}},{{connection.y1}}
						{{connection.x2-50}},{{connection.y2}} 
						{{connection.x2}},{{connection.y2}}"
						class="connection" 
						>
				</path>
				<path 	ng-attr-d="M{{x1}},{{y1}} 
						C{{x1+50}},{{y1}}
						{{x2-50}},{{y2}} 
						{{x2}},{{y2}}"
						class="connectioninv" 
						ng-mouseover="highlight(connection)"
						ng-mouseleave="looseFocus()"

						>
				</path>	

			 	
				
				<image xlink:href="/images/deleteConnection.svg" 
					ng-attr-x="{{((connection.x1+connection.x2)/2)-7}}" 
					ng-attr-y="{{((connection.y1+connection.y2)/2)-7}}"
					height="15px" 
					width="15px" 
					class="deleteConnection" 
					id="{{connection.id}}"
					ng-class="{visible:
						highlightedConnectionid==connection.id }" 
					ng-click="delete(connection.id)"
				>
				</image>  

			<!-- 	<text 
					ng-attr-x="{{((connection.x1+connection.x2)/2)-7}}" 
					ng-attr-y="{{((connection.y1+connection.y2)/2)-7}}"
					text-anchor="start"
				>
				{{connection.id}}
				</text>	 -->
			</g>	



			<!-- ##################################################-->
			<!-- ##################################################-->
			<!-- ######                                    ########-->
			<!-- ######     Draw the project name          ########-->
			<!-- ######                                    ########-->
			<!-- ##################################################-->
			<!-- ##################################################-->


		<text x="99%" y="70px"
		text-anchor="end"
		class="projectName"
		>
		{{name}}</text>	


			<!-- ##################################################-->
			<!-- ##################################################-->
			<!-- ######                                    ########-->
			<!-- ######     Draw the connected objects     ########-->
			<!-- ######                                    ########-->
			<!-- ##################################################-->
			<!-- ##################################################-->
		<g 
		ng-repeat="cObject in cObjects" 
		ng-controller="cObjectCtrl" 
		ng-init="setObjectData(cObject)"

		ng-attr-transform="translate({{cObject.positionX}},{{cObject.positionY}})"
		style="display: block; margin: auto"
		class="entity cObject"
		>

			<!-- DRAW THE NAME -->
			<g class="header">
				<text 
					ng-hide="editorEnabled"
					text-anchor="middle" 
					x="45" 
					y="-5" 
					class="name"
					ng-dblclick="editorEnabled=!editorEnabled"
					>
						{{cObject.name}} 
					<tspan 
						href="" 
						ng-click="selectCobject(cObject.id)" 
						class="glyphicon glyphicon-cog">
							&#xe019;
					</tspan>
				</text>	

				<foreignobject x="-55" y="-25" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="cObject.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(cObject.id, cObject.name)" 
						class="entityName"
						>
      					</input>
    				</body>
    			</foreignobject >
				
			</g>
			<!-- DRAW THE TRIGGERS -->
			<g ng-repeat="cOTriggers in cObject.cOTriggers"
				ng-attr-transform="translate(-110,{{ (100+($index*25)) }})"
				ng-controller="cOTriggerCtrl"
				class="trigger"
				> 
				<image xlink:href="/images/trigger_left.png" x="0" y="0" height="19px" width="23px" class="left"></image> 
				<rect x="23" y="0" height="19px" width="100px" class="rect">{{cOTriggers.name}}</rect>
				
				<text x="23" y="15"  
					class="text"
					ng-hide="editorEnabled"
					ng-dblclick="editorEnabled=!editorEnabled"
					>
						{{cOTriggers.name}}
				</text>
				<foreignobject x="23" y="0" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="cOTriggers.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(cOTriggers.id, cOTriggers.name)" 
						class="text"
						>
      					</input>
    				</body>
    			</foreignobject >



				<image xlink:href="/images/trigger_right.png" x="123" y="0" height="19px" width="23px" class="start right" id="{{cOTriggers.id}}"></image> 

			</g>

			<!-- DRAW THE ACTIONS -->
			<g ng-repeat="cOAction in cObject.cOActions"
				ng-attr-transform="translate(60,{{(100+($index*25))}})"
				ng-controller="cOActionCtrl"

				class="action"
				> 
				<image xlink:href="/images/action_left.png" x="0" y="0" height="19px" width="23px" class="end left" id="{{cOAction.id}}"></image> 
				<rect x="23" y="0" height="19px" width="100px" class="rect">{{cOAction.name}}</rect>
				<text x="23" y="15"  
					class="text"
					ng-hide="editorEnabled"
					ng-dblclick="editorEnabled=!editorEnabled"
				>
						{{cOAction.name}}
				</text>

				<foreignobject x="23" y="0" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="cOAction.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(cOAction.id, cOAction.name)" 
						class="text"
						>
      					</input>
    				</body>
    			</foreignobject >

				<image xlink:href="/images/action_right.png" x="123" y="0" height="19px" width="23px" class="start right" id="{{cOAction.id}}"></image> 

			</g>

			<!-- DRAW THE ICON -->
 			<clipPath id="ellipseMask">
	 			<circle cx="45" cy="45" r="45" class="iconMask"></circle>
 			</clipPath>
			<image xlink:href="{{bigImage}}" 
				x="0" y="0" 
				height="90px" 
				width="90px" 
				clip-path="url(#ellipseMask)"
				class="entityIcon"
				id="{{cObject.id}}"

				>
				
				<!-- ng-mousedown="objectDragStarted($event,cObject)"
				ng-mouseup="objectDragFinished($event)"
				ng-mousemove="objectDrag($event)"-->
	

			</image> 

			

 			<circle cx="45" cy="45" r="45" class="iconMask"></circle>
 			
		</g>



		<!-- ##################################################-->
			<!-- ##################################################-->
			<!-- ######                                    ########-->
			<!-- ######     Draw the web  services         ########-->
			<!-- ######                                    ########-->
			<!-- ##################################################-->
			<!-- ##################################################-->
		<g 
		ng-repeat="wService in wServices" 
		ng-controller="wServiceCtrl" 
		ng-init="setObjectData(wService)"

		ng-attr-transform="translate({{wService.positionX}},{{wService.positionY}})"
		style="display: block; margin: auto"
		class="entity wService"
		>
			<!-- DRAW THE NAME -->
			<g class="header">
				<text 
					ng-hide="editorEnabled"
					text-anchor="middle" 
					x="45" 
					y="-5" 
					class="name"
					ng-dblclick="editorEnabled=!editorEnabled"
					>
						{{wService.name}} 
					<tspan 
						href="" 
						ng-click="selectWService(wService.id)" 
						class="glyphicon glyphicon-cog">
							&#xe019;
					</tspan>
				</text>	

				<foreignobject x="-55" y="-25" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="wService.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(wService.id, wService.name)" 
						class="entityName"
						>
      					</input>
    				</body>
    			</foreignobject >
				
			</g>
			<!-- DRAW THE TRIGGERS -->
			<g ng-repeat="wSTrigger in wService.wSTriggers"
				ng-attr-transform="translate(-110,{{ (100+($index*25)) }})"
				class="trigger"
				ng-controller="wSTriggerCtrl"


				> 
				<image xlink:href="/images/trigger_left.png" x="0" y="0" height="19px" width="23px" class="left"></image> 
				<rect x="23" y="0" height="19px" width="100px" class="rect">{{wSTrigger.name}}</rect>
				<text x="23" y="15"  
					class="text"
					ng-hide="editorEnabled"
					ng-dblclick="editorEnabled=!editorEnabled"
				>
					{{wSTrigger.name}}
				</text>
				<foreignobject x="23" y="0" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="wSTrigger.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(wSTrigger.id, wSTrigger.name)" 
						class="text"
						>
      					</input>
    				</body>
    			</foreignobject >

				<image xlink:href="/images/trigger_right.png" x="123" y="0" height="19px" width="23px" class="start right" id="{{wSTrigger.id}}"></image> 

			</g>

			<!-- DRAW THE ACTIONS -->
			<g ng-repeat="wSAction in wService.wSActions"
				ng-attr-transform="translate(60,{{(100+($index*25))}})"
				class="action"
				ng-controller="wSActionCtrl"


				> 
				<image xlink:href="/images/action_left.png" x="0" y="0" height="19px" width="23px" class=" end left" id="{{wSAction.id}}"></image> 
				<rect x="23" y="0" height="19px" width="100px" class="rect">{{wSAction.name}}</rect>
				<text x="23" y="15"  
					class="text"
					ng-hide="editorEnabled"
					ng-dblclick="editorEnabled=!editorEnabled"
				>
					{{wSAction.name}}

				</text>
				<foreignobject x="23" y="0" width="200" height="150" ng-show="editorEnabled" >
					<body xmlns="http://www.w3.org/1999/xhtml">    						<input 
						ng-model="wSAction.name" 
						ng-blur="editorEnabled=!editorEnabled; updateName(wSAction.id, wSAction.name)" 
						class="text"
						>
      					</input>
    				</body>
    			</foreignobject >
				<image xlink:href="/images/action_right.png" x="123" y="0" height="19px" width="23px" class="start right" id="{{wSAction.id}}"></image> 

			</g>

			<!-- DRAW THE ICON -->
 			<clipPath id="ellipseMask">
	 			<circle cx="45" cy="45" r="45" class="iconMask"></circle>
 			</clipPath>
			<image xlink:href="{{bigImage}}" 
				x="0" y="0" 
				height="90px" 
				width="90px" 
				clip-path="url(#ellipseMask)"
				class="entityIcon"
				id="{{wService.id}}"

				>
				
				<!-- ng-mousedown="objectDragStarted($event,cObject)"
				ng-mouseup="objectDragFinished($event)"
				ng-mousemove="objectDrag($event)"-->
	

			</image> 

			

 			<circle cx="45" cy="45" r="45" class="iconMask"></circle>
 			
		</g>

		

		<div ng-shape></div ng-shape>
</svg>