<div 
	ng-controller="dAnalystCtrl"
	class="addEntity dAnalyst inner"
>
	<div class="header">
		<image src="/images/dataAnalyst.png" class="header-img"/>
		<h3>DATA ANALYST</h3>
	</div>


	<div class="content">
		
		<image src="/images/{{selectedEntity.image}}_small.png" width="50px" height="50px"/ class="icon_small">
   		<div ng-hide="editorEnabled" class="project-title">
			<h2>{{selectedEntity.name}}</h2>
      		<a href="" ng-click="editorEnabled=!editorEnabled" class="glyphicon glyphicon-pencil"></a>
    	</div>
    	<div ng-show="editorEnabled" class="project-title">
      		<input ng-model="selectedEntity.name">
      		<a href="" ng-click="editorEnabled=!editorEnabled; updateName() " class="glyphicon glyphicon-ok"></a>
    	</div>
      	<a href="" ng-click="" class="glyphicon glyphicon-cog"></a>
		<a href="" ng-click="delete()" class="glyphicon glyphicon-trash"></a>

		<div class="settings">
			<div class="dAnalyst icon">
			<div>
			
			<div class="dAnalyst title">
			<div>
			
			<div class="dAnalyst settings">
			<div>
		</div>

		<div class="actions">
			<div class="block" ng-controller="dADataCtrl">
				<span class="title">
				Data to track
				</span>
				<image src="/images/plus_cyano.png" class="add_action" ng-click="create()"/>
				<div class="data list" >
					<div class="data" 
					ng-repeat="dAData in selectedEntity.dADatas" 
					ng-click="selectDAData(dAData)"
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"
					>
						<div class="left"></div>
						<div class="body" >{{dAData.name}}</div> 
						<div class="right"></div>

						<a 
						ng-show="mouseover" 
						href="" 
						ng-click="delete()" 
						class="glyphicon glyphicon-trash canFade"
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						></a>


					</div>

				</div>
			</div>

			<div class="block" ng-controller="dATriggerCtrl">
				<span class="title">
				Triggers
				</span>
				<image src="/images/plus_orange.png" class="add_action" ng-click="create()"/>

				<div class="trigger list">
					<div class="trigger" 
					ng-repeat="dATrigger in selectedEntity.dATriggers" 
					ng-click="selectDATrigger(dATrigger)"
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"

					>
						<div class="left"></div>
						<div class="body">{{dATrigger.name}}</div> 
						<div class="right"></div>

					
					<a ng-show="mouseover" 
						href="" 
						ng-click="delete(dATrigger.id)" 
						class="glyphicon glyphicon-trash canFade" 
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						>
					</a>


								
					</div>
				</div>
			</div>

			<div class="block" ng-controller="dAActionCtrl">
				<span class="title">
				Actions
				</span>
				<image src="/images/plus_yellow.png" class="add_action" ng-click="create()"/>

				<div class="action list">
					<div class="action" 
					ng-repeat="dAAction in selectedEntity.dAActions" 
					ng-click="selectDAAction(dAAction)"
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"
					>
						<div class="left"></div>
						<div class="body">{{dAAction.name}}</div> 
						<div class="right"></div>

						<a 
						ng-show="mouseover" 
						href="" ng-click="delete(dAAction.id)" 
						class="glyphicon glyphicon-trash canFade"
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						>
						</a>

								
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
