<div 
	ng-controller="cObjectCtrl"
	class="addEntity cObject inner"
>
	<div class="header">
		<image src="/images/connectedObject.png" class="header-img"/>
		<h3>CONNECTED OBJECT</h3>
	</div>
	

	<div class="content">
		
		<image src="/images/{{selectedEntity.image}}_small.png" width="50px" height="50px"/ class="icon_small">
   		<div ng-hide="editorEnabled" class="project-title">
			<h2>{{selectedEntity.name}}</h2>
      		<a href="" ng-click="editorEnabled=!editorEnabled" class="glyphicon glyphicon-pencil"></a>
    	</div>
    	<div ng-show="editorEnabled" class="project-title">
      		<input ng-model="selectedEntity.name">
      		<a href="" ng-click="editorEnabled=!editorEnabled; updateName() " class="glyphicon glyphicon-ok"></a>
    	</div>
      	<a href="" ng-click="" class="glyphicon glyphicon-cog"></a>
		<a href="" ng-click="delete()"class="glyphicon glyphicon-trash"></a>

		<div class="settings">
			<div class="cObject icon">
			<div>
			
			<div class="cObject title">
			<div>
			
			<div class="cObject settings">
			<div>
		</div>

		<div class="actions">
			<div class="block" ng-controller="cODataCtrl">
				<span class="title">
				Data to track
				</span>
				<image src="/images/plus_cyano.png" class="add_action" ng-click="create()"/>
				<div class="data list" >
					<div class="data" 
					ng-repeat="cOData in selectedEntity.cODatas" 
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"
					>
						<div class="left"></div>
						<div class="body" ng-click="selectCOData(cOData)">
							{{cOData.name}}
						</div> 
						
						<div class="right"></div>
						
						<a 
						ng-show="mouseover" 
						href="" 
						ng-click="delete(cOData.id)" 
						class="glyphicon glyphicon-trash canFade"
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						></a>

					</div>

				</div>
			</div>

			<div class="block" ng-controller="cOTriggerCtrl">
				<span class="title">
				Triggers
				</span>
				<image src="/images/plus_orange.png" class="add_action" ng-click="create()"/>

				<div class="trigger list">
					<div class="trigger" 
					ng-repeat="cOTrigger in selectedEntity.cOTriggers" 
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"
					>
						<div class="left"></div>
						<div class="body" ng-click="selectCOData(cOTrigger)">
							{{cOTrigger.name}}</div> 
						<div class="right"></div>
						
						<a 
						ng-show="mouseover" 
						href="" 
						ng-click="delete(cOTrigger.id)" 
						class="glyphicon glyphicon-trash canFade"
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						></a>

					</div>
				</div>
			</div>

			<div class="block" ng-controller="cOActionCtrl">
				<span class="title">
				Actions
				</span>
				<image src="/images/plus_yellow.png" class="add_action" ng-click="create()"/>

				<div class="trigger list">
					<div class="action" 
					ng-repeat="cOAction in selectedEntity.cOActions" 
					ng-mouseenter="mouseover=true"
					ng-mouseleave="mouseover=false"
					>
						<div class="left"></div>
						<div class="body" ng-click="selectCOData(cOAction)">
							{{cOAction.name}}</div> 
						<div class="right"></div>
						
						<a 
						ng-show="mouseover" 
						href="" 
						ng-click="delete(cOAction.id)" 
						class="glyphicon glyphicon-trash canFade"
						ng-animate="{show:'animate-show', hide:'animate-hide'}"
						></a>


					</div>
				</div>
			</div>
		</div>
	</div>



</div>
