<div 
	id="addCObject" 
	ng-controller="cObjectCtrl"
	class="inner"
>
	<div class="header">
		<image src="/images/connectedObject.png" class="header-img"/>
		<h3>CONNECTED OBJECT</h3>
	</div>
	

	<div class="content">
		
		<image src="/images/{{selectedCObject.image}}_small.png" width="50px" height="50px"/ class="icon_small">
   		<div ng-hide="editorEnabled" class="project-title">
			<h2>{{selectedCObject.name}}</h2>
      		<a href="" ng-click="editorEnabled=!editorEnabled" class="glyphicon glyphicon-pencil"></a>
    	</div>
    	<div ng-show="editorEnabled" class="project-title">
      		<input ng-model="selectedCObject.name">
      		<a href="" ng-click="editorEnabled=!editorEnabled; updateName() " class="glyphicon glyphicon-ok"></a>
    	</div>
      	<a href="" ng-click="" class="glyphicon glyphicon-cog"></a>
		<a href="" ng-click="delete()"class="glyphicon glyphicon-trash"></a>

		<div class="settings">
			<div class="cObject icon">
			<div>
			
			<div class="cObject title">
			<div>
			
			<div class="cObject settings">
			<div>
		</div>

		<div class="actions">
			<div class="block" ng-controller="cODataCtrl">
				<span class="title">
				Data to track
				</span>
				<image src="/images/plus_cyano.png" class="add_action" ng-click="create()"/>
				<div class="data list" >
					<div class="cOData" 
					ng-repeat="cOData in selectedCObject.cODatas" 
					ng-click="selectCOData(cOData)"
					>
						<div class="cOData-left"></div>
						<div class="cOData-body" >{{cOData.name}}</div> 
						<div class="cOData-right"></div>
								
					</div>

				</div>
			</div>

			<div class="block" ng-controller="cOTriggerCtrl">
				<span class="title">
				Triggers
				</span>
				<image src="/images/plus_orange.png" class="add_action" ng-click="create()"/>

				<div class="trigger list">
					<div class="cOTrigger" 
					ng-repeat="cOTrigger in selectedCObject.cOTriggers" 
					ng-click="selectCOTrigger(cOTrigger)"
					>
						<div class="cOTrigger-left"></div>
						<div class="cOTrigger-body">{{cOTrigger.name}}</div> 
						<div class="cOTrigger-right"></div>
								
					</div>
				</div>
			</div>

			<div class="block" ng-controller="cOActionCtrl">
				<span class="title">
				Actions
				</span>
				<image src="/images/plus_yellow.png" class="add_action" ng-click="create()"/>

				<div class="trigger list">
					<div class="cOAction" 
					ng-repeat="cOAction in selectedCObject.cOActions" 
					ng-click="selectCOAction(cOAction)"
					>
						<div class="cOAction-left"></div>
						<div class="cOAction-body">{{cOAction.name}}</div> 
						<div class="cOAction-right"></div>
								
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
